version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./mlflow_data:/mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    networks:
      - app-network
    depends_on:
      training:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    depends_on:
      backend:
        condition: service_healthy
    platform: linux/arm64
    networks:
      - app-network

  training:
    build: ./training
    volumes:
      - ./training:/app
      - ./mlflow_data:/mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      mlflow:
        condition: service_started
    platform: linux/arm64
    networks:
      - app-network

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest #ghcr.io/mlflow/mlflow:v2.13
    ports:
      - "5001:5000"
    volumes:
      - ./mlflow_data:/mlflow
    environment:
      - MLFLOW_ALLOWED_HOSTS=*.
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --artifacts-destination /mlflow/artifacts
      --backend-store-uri /mlflow/tracking
      --allowed-hosts '*'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge