apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      serviceAccountName: mlflow-ksa
      containers:
      - name: mlflow
        image: DOCKER_REPO_URL/mlflow-gcp:latest
        command: ["mlflow"]
        args: [
          "server",
          "--host", "0.0.0.0",
          "--port", "5000",
          # Using the +psycopg2 driver is highly recommended for MLflow + Postgres
          "--backend-store-uri", "postgresql+psycopg2://mlflow-user:mlflow-password@127.0.0.1:5432/mlflow-db",
          "--default-artifact-root", "gs://MLFLOW_ARTIFACTS_BUCKET/",
          "--artifacts-destination", "gs://MLFLOW_ARTIFACTS_BUCKET/"
        ]
        ports:
        - containerPort: 5000
        livenessProbe:
          tcpSocket:
            port: 5000
          initialDelaySeconds: 30
          periodSeconds: 20
      - name: cloud-sql-proxy
        image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.8.0
        args:
          - "--structured-logs"
          - "--port=5432"
          # Replace this with your actual Connection Name from GCP Console
          - "devops-mlops-483223:us-central1:mlflow-db-instance" 
        securityContext:
          runAsNonRoot: true