apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      serviceAccountName: mlflow-ksa
      containers:
      - name: mlflow
        image: us-central1-docker.pkg.dev/devops-mlops-483223/ml-repo/mlflow-gcp:v1 # Hardcoded image path
        command: ["gunicorn"]
        args:
          - "--bind=0.0.0.0:5000"
          - "--workers=2"
          - "mlflow.server:app"
        ports:
        - containerPort: 5000
        env:
        - name: MLFLOW_DEFAULT_ARTIFACT_ROOT
          value: "/mlflow/data"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 10