name: CI/CD

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  GCP_PROJECT_ID: devops-mlops-483223
  GCP_REGION: us-central1
  IMAGE_REPO_URL: us-central1-docker.pkg.dev/devops-mlops-483223/ml-repo

jobs:
  build-and-push:
    name: Build and Push Images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v2' # or v1
      with:
        # You must explicitly map the secret here
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Configure Docker
      run: gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and Push Images
      run: |
        docker buildx build --platform linux/amd64 -t ${{ env.IMAGE_REPO_URL }}/mlflow-gcp:v1 --push ./mlflow
        docker buildx build --platform linux/amd64 -t ${{ env.IMAGE_REPO_URL }}/training:v1 --push ./training
        docker buildx build --platform linux/amd64 -t ${{ env.IMAGE_REPO_URL }}/backend:v1 --push ./backend
        docker buildx build --platform linux/amd64 -t ${{ env.IMAGE_REPO_URL }}/frontend:v1 --push ./frontend

  deploy:
    name: Deploy to GKE
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v2' # or v1
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'
      with:
        # Add this line to install the missing plugin
        install_components: 'gke-gcloud-auth-plugin'

    - name: Get GKE credentials
      run: gcloud container clusters get-credentials main-cluster --region ${{ env.GCP_REGION }} --project ${{ env.GCP_PROJECT_ID }}

    - name: Deploy to GKE
      run: |
        kubectl apply -f kubernetes/ 