name: CI/CD

on:
  push:
    branches:
      - main

env:
  GCP_PROJECT_ID: devops-mlops-483223
  GCP_REGION: us-central1
  DOCKER_REPO_URL: us-central1-docker.pkg.dev/devops-mlops-483223/app-images

jobs:
  build-and-push:
    name: Build and Push Images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Configure Docker
      run: gcloud auth configure-docker $GCP_REGION-docker.pkg.dev

    - name: Build and Push Backend
      run: |
        docker build -t $DOCKER_REPO_URL/backend:latest ./backend
        docker push $DOCKER_REPO_URL/backend:latest

    - name: Build and Push Frontend
      run: |
        docker build -t $DOCKER_REPO_URL/frontend:latest ./frontend
        docker push $DOCKER_REPO_URL/frontend:latest

    - name: Build and Push Training
      run: |
        docker build -t $DOCKER_REPO_URL/training:latest ./training
        docker push $DOCKER_REPO_URL/training:latest

  deploy:
    name: Deploy to GKE
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Install gke-gcloud-auth-plugin
      run: gcloud components install gke-gcloud-auth-plugin

    - name: Get GKE credentials
      run: gcloud container clusters get-credentials main-cluster --region $GCP_REGION

    - name: Deploy
      run: |
        sed -i "s|DOCKER_REPO_URL|$DOCKER_REPO_URL|g" ./kubernetes/*.yaml
        kubectl apply -f ./kubernetes/ --namespace dev